# terraform Compiled files
terraform/.terr*
bucket-content-rsync/*
*.csv
terraform/main.zip
movie-raw-data-loader/.movie-se-de 
movie-raw-data-loader/.DS_Store
terraform/movie_raw_data_loader.zip
ee-india-se-data-*.json